.allCharacters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__each{
        flex-basis: 30%;
        margin-bottom: 20px;
        box-sizing: border-box;

    }
}

.error{
    font-size: 20px;
    color: red;
}