@import 'core/Reset.scss';

.title{
    color: brown;
    text-align: center;
    padding-top: 30px;
}

.filterContainer{
    margin-top: 20px;
    font-size: 150%;
    display: block;
    flex-direction: column;

    &__labelHouse{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    &__labelName{


    }
}